.App {
  text-align: center;
}

/* خلفية متحركة */
.background-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('logo.png'); /* ضع مسار صورتك */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: moveBackground 20s infinite alternate;
  z-index: -2;
}

.background-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(144, 238, 144, 0.4); /* لون أخضر فاتح مع شفافية */
  z-index: -1;
}

/* حركة خفيفة للخلفية */
@keyframes moveBackground {
  0% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}
.main-content {
  padding-top: 80px; /* المسافة تحت الـ Navbar */
}
.plant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
} 
